@import '../../base.scss';

.movie-details-info{
   overflow: hidden;
   padding: 1rem;
   font-size: 1rem;
   font-family: $movie-list-font;
   display: block;
   text-align: left;

   &-title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #204160;
    display: flex;
   }
   &-details{
    margin-bottom: 1rem;
   }
   &-details, &-director, &-rating {
    font-size: 1rem;
    font-weight: 200;
    color: #5F7385;
    display: flex;
    img{
        width: 150px;
        height: 180px;
    }
    &-text{
        padding: 0 0.75rem;
        margin: 0;
    }
   }
   &-rating{
    display: inline-flex;
   }
   &-no-movie-selected{
    margin: 0.75rem;
    font-size: 1rem;
   }
    @media only screen and (min-width: 786px){
        font-size: 1rem;
        &-title{
            font-weight: 900;
        }
        &-details{
            img{
                width: 200px;
                height: 220px;
            }
            &-text{
                padding: 0 0.75rem;
            }
        }
        &-rating{
            display: inline-flex;
        }
    }
}